<p>ex-content-child-parent works!</p>
<app-ex-content-child-child [header]="'Some Header1'">
    <app-date-viewer></app-date-viewer>   <br> 
    <app-date-viewer></app-date-viewer>   <br>
    <app-date-viewer></app-date-viewer>   <br>
    <h1 class="body">Some Body</h1>
    <span class="footer">Sample Footer</span>
</app-ex-content-child-child>
<br>
<app-ex-content-child-child [header]="'Some Header2'">
    <form class="body">
        <input type="text" placeholder="Enter name">
    </form>
    <span class="footer" style="font-weight: bold;">Sample Footer</span>
</app-ex-content-child-child>
