<h4>App root works</h4>
<app-viewchild-parent></app-viewchild-parent>
<hr>
<h4>ViewChild with directive</h4>
<app-viewchild-directive></app-viewchild-directive>
<hr>
<h4>ViewChildren with directive</h4>
<app-viewchildren-parent></app-viewchildren-parent>
<hr>
<app-contentprojection-parent></app-contentprojection-parent>
<hr>
<app-contentchild-parent></app-contentchild-parent>
<hr>
<app-ex-content-child-parent></app-ex-content-child-parent>
<hr>
<app-changedetection-parent></app-changedetection-parent>
<hr>
<app-ng-zone-parent></app-ng-zone-parent>